.mycircles {
    height: 20em;
    position: relative;
    width: 20em;
    
    > div {
      animation: growAndFade 3s infinite ease-out;
      background-color: var(--secondary-color);
      border-radius: 50%;
      height: 100%;
      opacity: 0;
      position: absolute;
      width: 100%;
    }
    
    .mycircle1 {
      animation-delay: 1s;    
    }
    .mycircle2 {
      animation-delay: 2s; 
    }
    .mycircle3 {
      animation-delay: 3s;
    }
  }
  
  @keyframes growAndFade {
    0% {
      opacity: .25;
      transform: scale(0);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
  
/* ripple */

/* .Mywrap {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
} */

.ripplebutton {
  background: var(--secondary-color);
  cursor: pointer;
  /* border: 1px solid white; */
  color: var(--secondary-color);
  height: 30px;
  width: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 100%;
  text-transform: uppercase;
  font-family: 'Muli-LightItalic', Helvetica;
  font-size: 20px;
  line-height: 10px;
  animation: ripple 1.5s linear infinite;
  transition: all 0.7s ease;
}

.ripplebutton:hover {
  transform: scale(1.1);
}

.ripplebutton:focus {
  outline: none;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 var(--secondary-color), 
                0 0 0 1px var(--secondary-color), 
                0 0 0 3px var(--secondary-color), 
                0 0 0 5px var(--secondary-color);
  }
  100% {
    box-shadow: 0 0 0 0 var(--secondary-color), 
                0 0 0 1px var(--secondary-color), 
                0 0 0 10px rgba(255, 255, 255, 0), 
                0 0 0 20px rgba(255, 255, 255, 0);
  }
}

/* ripple end */


/* Gradient animation */
/* Define a custom property with Houdini API */
@property --Gradientprogress {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

:root {
  --c1: var(--secondary-color);
  --c2: white;
  --c3: var(--primary-light);
  --c4: var(--primary);
}

@keyframes Gradientprogress {
  from {
    --Gradientprogress: 0%;
  }
  to {
    --Gradientprogress: 100%;
  }
}

.Gradientcircle {
  --Gradientprogress: 60%;
  /* Check if browser supports Houdini API, then start animation from 0 */
  @supports (background: paint(houdini)) {
    --Gradientprogress: 0%;
  }
  background: conic-gradient(
    at center,
    var(--c1) var(--Gradientprogress),
    rgba(239, 236, 236, 0.48) var(--Gradientprogress),
    var(--c2) calc(var(--Gradientprogress) + 20%),
    var(--c3) calc(var(--Gradientprogress) + 30%),
    var(--c3) calc(var(--Gradientprogress) + 50%),
    transparent,
    transparent,
    transparent,
    transparent
  );
  animation: Gradientprogress 4s linear infinite;
  border-radius: 50%;
  mask: radial-gradient(circle at center, transparent 65%, black 65%);
  position: absolute;
  inset: 0;
}

.Gradientcircle:nth-child(1) {
  inset: 6vmin;
}
.Gradientcircle:nth-child(2) {
  inset: 8vmin;
  animation-delay: 1s;
}

.Gradientcircle:nth-child(3) {
  inset: 10vmin;
  animation-delay: 0.5s;
}

.Gradientcontainer {
  filter: drop-shadow(0 0 0.8vmin hsla(0, 0%, 0%, 1));
  position: relative;
  width: 40vmin;
  aspect-ratio: 1;
  /* border: 2px solid white; */
}

.Gradientcontainer:after {
  /* content: "@property 🧙‍♂️✨"; */
  content: "ZetaOne";
  font-weight: bold;
  position: absolute;
  font-size: 2rem;
  inset: 0;
  color: white;
  display: grid;
  place-items: center;
}

/* body {
  height: 100vh;
  width: 100vw;
  font-family: Roboto, Inter, "Helvetica Neue", Helvetica, sans-serif;
  background: radial-gradient(30% 40% at center, hsla(0, 0%, 100%, 0.03), transparent), #111;
  color: var(--c1);
  display: grid;
  place-items: center;
} */

/* Gradient animation end */


/* SocialMedia  */

.SMapp {
  /* min-width: 50vw;
  min-height: 50vh; */
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-direction: row;
}


.SMHeader { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  /* text-align: center; */
  
  h1 {
    font-weight: 600;
    font-size: 3rem;
    /* margin-bottom: 0.5rem; */
    color: var(--primary);
    text-align: justify;
    /* word-spacing: 2px !important; */
  }
  
  p {
    /* color: #94a3b8; */
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: #000;
  }
  
  a {
    color: var(--primary);
  }
}

.SMtag-list {
  /* width: 20rem; */
  /* max-width: 90vw; */
  width: 50%;
  /* border: 2px saddlebrown solid; */
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1px;
  position: relative;
  /* padding: 1.5rem 0; */
  overflow: hidden;
}

.SMloop-slider {
  .SMinner {
    display: flex;
    width: fit-content;
    animation-name: SMloop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: var(--duration);
    /* animation: SMloop var(--duration) ease-in-out infinite; */
    animation-direction: var(--direction);
  }
  /* border: blue 2px solid; */
  /* width: 50%; */
  overflow: hidden;
  /* border: 2px solid red; */
  width: 100%;
  
}

.SMtag {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1px;
  color: var(--primary);
  /* color: var(--secondary-color); */
  font-size: 0.9rem;
  /* background-color: #334155; */
  /* background-color: var(--primary); */
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  margin-right: 20px; 
  /* box-shadow: 
    0 0.1rem 0.2rem rgb(0 0 0 / 20%),
    0 0.1rem 0.5rem rgb(0 0 0 / 30%),
    0 0.2rem 1.5rem rgb(0 0 0 / 40%);
   */
  span {
    font-size: 1.2rem;
    color: #64748b;
  }
}

.SMtag span img{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.SMfade {
  pointer-events: none;
  background: linear-gradient(90deg, #1e293b, transparent 30%, transparent 70%, #1e293b);
  /* position: absolute; */
  inset: 0;
}

@keyframes SMloop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
    
  }
}


@media (max-width:992px){
  .SMapp {
    /* min-width: 50vw;
    min-height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .SMtag-list {
    /* width: 20rem; */
    /* max-width: 90vw; */
    width: 100%;
  }
}


/* SocialMedia end */