.myplans {
  position: relative;
  /* background-image: url(../assets/images/6.png); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(to bottom, #0078d7, #02255d);
  /* height: 100vh; Ensures the background image and color take up full viewport height */
}
